<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="CardWidthInInches" value="1.75" />
    <add key="CardHeightInInches" value="3" />

    <add key="BleedSizeInInches" value=".25" />

    <add key="PromptFontFamily" value="Times New Roman"/>
    <add key="AnswerFontFamily" value="Arial"/>

    <add key="BorderRadius" value="40"/>

    <add key="BorderPaddingInInches" value=".1"/>

    <add key="MaxPromptTextFontSize" value="15"/>
    <add key="MaxAnswerTextFontSize" value="15"/>

    <add key="PromptCardFrontBackgroundColor" value="255, 255, 0"/>
    <add key="PromptCardFrontTextColor" value="0, 0, 0"/>
    <add key="AnswerCardFrontBackgroundColor" value="0, 0, 0"/>
    <add key="AnswerCardFrontTextColor" value="255, 255, 0"/>


    <add key="AnswerCardPath" value="c:\delete\answers.txt"/>
    <add key="PromptCardPath" value="c:\delete\prompts.txt"/>

    <add key="TemplatePath" value="c:\delete\poker-card.png"/>
    <add key="OverlayTemplate" value="false"/>

  </appSettings>
</configuration>