<h3>
    Image Generation
</h3>
<form method='post' action='@Url.Action("GenerateImages", "Home")' encType="multipart/form-data">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Card Data</h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="promptsInputFile">Prompts File</label>
                <input type="file" id="promptsInputFile" name="promptsInputFile" required class="form-control-file">
                <small class="form-text text-muted">The path to the file for the prompts (i.e. CAH's 'black cards')</small>
            </div>
            <div class="form-group">
                <label for="answersInputFile">Answers File</label>
                <input type="file" id="answersInputFile" name="answersInputFile" required class="form-control-file">
                <small class="form-text text-muted">The path to the file for the answers (i.e. CAH's 'white cards')</small>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Layout</h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="cardWidthInInches">Card Width (In Inches)</label>
                <input type="number" step=".01" class="form-control" id="cardWidthInInches" name="cardWidthInInches" placeholder="Card Width" value="1.75" required>
            </div>
            <div class="form-group">
                <label for="cardHeightInInches">Card Height (In Inches)</label>
                <input type="number" step=".01" class="form-control" id="cardHeightInInches" name="cardHeightInInches" placeholder="Card Height" value="3" required>
            </div>
            <div class="form-group">
                <label for="bleedSizeInInches">Bleed Size (In Inches)</label>
                <input type="number" step=".01" class="form-control" id="bleedSizeInInches" name="bleedSizeInInches" placeholder="Bleed Size" value=".25" required>
            </div>
            <div class="form-group">
                <label for="borderPaddingInInches">Border Padding (In Inches)</label>
                <input type="number" step=".01" class="form-control" id="borderPaddingInInches" name="borderPaddingInInches" placeholder="Border Padding" value=".1" required>
            </div>
            <div class="form-group">
                <label for="borderRadius">Border Radius (How rounded the corners should be)</label>
                <input type="number" step=".01" class="form-control" id="borderRadius" name="borderRadius" placeholder="Border Radius" value="40" required>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Prompt Cards (i.e. CAH's 'black cards')</h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="maxPromptTextFontSize">Max Font Size</label>
                <input type="number" step=".01" class="form-control" id="maxPromptTextFontSize" name="maxPromptTextFontSize" placeholder="Max Font Size" value="15" required>
            </div>
            <div class="form-group">
                <label for="promptCardFrontBackgroundColor">Background Color</label>
                <input type="color" class="form-control" id="promptCardFrontBackgroundColor" name="promptCardFrontBackgroundColor" value="#000000" required>
            </div>
            <div class="form-group">
                <label for="promptCardFrontTextColor">Text Color</label>
                <input type="color" class="form-control" id="promptCardFrontTextColor" name="promptCardFrontTextColor" value="#FFFF00" required>
            </div>
        </div>

    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Answer Cards (i.e. CAH's 'white cards')</h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="maxAnswerTextFontSize">Max Font Size</label>
                <input type="number" step=".01" class="form-control" id="maxAnswerTextFontSize" name="maxAnswerTextFontSize" placeholder="Max Font Size" value="15" required>
            </div>
            <div class="form-group">
                <label for="answerCardFrontBackgroundColor">Background Color</label>
                <input type="color" class="form-control" id="answerCardFrontBackgroundColor" name="answerCardFrontBackgroundColor" value="#FFFF00" required>
            </div>
            <div class="form-group">
                <label for="answerCardFrontTextColor">Text Color</label>
                <input type="color" class="form-control" id="answerCardFrontTextColor" name="answerCardFrontTextColor" value="#000000" required>
            </div>
        </div>
    </div>
    <input type='submit' class='btn btn-primary' value='Generate Images' />
</form>
